@model CShp230_JJohnson_FInalProjectMVC.Models.vLoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>vLoginRequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoginName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoginName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NewOrReactivate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NewOrReactivate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReasonForAccess)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReasonForAccess)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateRequiredBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateRequiredBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LoginId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
